.calculator {
    width: 250px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: lightblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0e0e0;
}

button.operator {
    background-color: #ff9800;
    color: #fff;
}

button.operator:hover {
    background-color: #f57c00;
}
